
<div>
    <h2 style="margin-top: 50px;">Commentaires</h2>

    <ul style="margin-top: 20px;">
        {{ if .Params.Comments }}
            {{ range .Params.Comments }}
            <li>
                {{ . }}
            </li>
            {{ end }}
        {{ else }}
            <li>Il n'y as pas encore de commentaires pour ce post.</li>
        {{ end }}
    </ul>
    <p><a href="mailto:{{ printf "\x73\x61\x70\x61\x6a\x6f\x75\x2e\x62\x61\x72\x40\x67\x6d\x61\x69\x6c\x2e\x63\x6f\x6d\n"}}?subject=Commentaire - {{ .Title }}&body=Nom: %0D%0A%0D%0ACommentaire: %0D%0A" target="_top">Poster un Commentaire</a></p>
</div>

