<div class="pager main-pager">
  {{if .HasPrev}}
      <a href="{{ .Prev.URL }}">&laquo;&nbsp;&nbsp;</a>
      {{end}}
     <span class="c-pagination__count p-pagination__count">Page {{ .PageNumber }} sur {{.TotalPages}}&nbsp;&nbsp;</span>
   {{if .HasNext}}
      <a href="{{ .Next.URL }}"> &raquo;</a>
      {{end}}
</div>
