<!-- TOCs need to be declared explicitly in the front matter of content/*.md -->
<a class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	{{ if .Params.toc }}
		<p class="b">What's on this Page</p>
  	{{ .TableOfContents }}
	{{ end }}
</a>

